.popup_background_image {
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 564px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 40px;
  gap: 30px;
  place-items: center;
  z-index: 999;
}

.continue-button {
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  width: 15rem;
  height: 3rem;
  background-color: #0094ff; /* Blue */
  color: white;
  border: none;
  border-radius: 6px; /* rounded-md */
  cursor: pointer;
  font-size: 0.9rem; /* text-lg */
}

.continue-button:hover {
  opacity: 90%;
}

.information {
  position: absolute;
  inset: auto 1rem 1rem auto;
  z-index: 1000;
  box-sizing: border-box;
  top: 4rem;
  left: 4rem;
  display: flex;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  max-height: fit-content;
  max-width: 500px;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
}

@media (max-width: 999px) {
  .information {
    position: absolute;
    opacity: 0.9;
    z-index: 1000;
    top: 7rem;
    left: 1rem;
    background-color: black;
    border-radius: 10%;
    padding: 1rem;
    max-width: 250px;
  }
}

/* By default, the icon is visible */
.popup-icon {
  display: flex; /* Or whatever display property you need for larger screens */
}

/* Hide the icon on screens with a maximum width of 999px */
@media (max-width: 999px) {
  .popup-icon {
    display: none;
  }
}
